/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    /* this makes it so that adjusting padding/margin doesn't affect the width */
    box-sizing: border-box;
}

body {
    /* default font */
    font-family: 'Muli', sans-serif;
    /* default layout */
    display: flex;
    align-items: center;
    /* need height for the layout to work */
    justify-content: center;
    height: 100vh;
    /* overflow to hide the scrollbars */
    overflow: hidden;
    margin: 0;
}

h1 {
    text-align: center;
}

/* this holds all the panels */
.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    /* flex controls the space each panel will take up */
    flex: 0.4;
    margin: 10px;
    /* the parent (container) is relative */
    position: relative;
    transition: flex 0.7s ease-in;
}

/* Text of Panels */
.panel h3 {
    font-size: 2rem;
    /* the child (panel) is absolute */
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

/* active panel IMAGE styling */
.panel.active {
    /* Grow to 5 while active */
    flex: 5;
}

/* active panel TEXT styling */
.panel.active h3 {
    opacity: 1;
    /* text transition will be delayed 0.4s */
    transition: opacity 0.3s ease-in 0.4s;
}

/* media query that only shows three panels while width is < 480px */
/* whenever width is > 480px, the 4th and 5th panel will show */
@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    /* remove last two panels by using pseudo-selector */
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        /* removes the panels */
        display: none;
    }
}